* {
    border: none;
    border-radius: 0;
    font-family: Source Code Pro;
    font-size: 14px;
    min-height: 0;
    padding: 0 0.15rem;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 0.1rem solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 0.1rem solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 0.1rem;
    background: transparent;
    color: white;
    border-bottom: 0.1rem solid transparent;
}

/* #workspaces button.focused {
    background: lightseagreen;
    border-bottom: 3px solid white;
} */

#workspaces button.active {
    background: lightseagreen;
}

#clock,
#battery,
#idle_inhibitor,
#pulseaudio,
#power-profiles-daemon,
#temperature,
#clock,
#tray,
#custom-notification,
#custom-media,
#custom-power,
#custom-hyprshot,
#custom-hyprhade {
    padding: 0 0.3rem;
}

#clock {
    background-color: slategrey;
}

/* #battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: palevioletred;
} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

/* #battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
}
